.gradle/
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
build/
app/build/
local.properties
.idea/
*.iml
app/src/main/assets/graphhopper/graphhopper-cache.zip
GraphHopper-Data/
scratch/
java_pid*.hprof
